.tap-test-mode-title{
	color:red;
	font-size: 18px;
	margin: 20px 0 10px;
}
.tap-test-mode-table{
	margin-bottom: 0;
}
.tap-test-mode-table th,
.tap-test-mode-table td{
	padding: 3px;
	font-size: 12px;
}
.tap-test-mode-message{
	color: red;
	padding: 5px;
	margin-bottom: 30px;
}
.tap-test-mode-message a{
	color: red;
	text-decoration: underline;
}

#tap-card-notice > div{
	margin: 10px 0;
	padding: 10px 15px;
	border: 1px solid;
}
#tap-card-notice .tap-message{
	color: #0b7cac;
	border-color: #0b7cac;
}
#tap-card-notice .tap-error{
	color: #e2401c;
	border-color: #e2401c;
}
#tap-card-form-container{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ddd;
}
