/* Fix payment gateway logo for porto */
.theme-porto .woocommerce .wc_payment_method img,
.theme-porto .woocommerce-checkout .wc_payment_method img {
	margin: 0 10px;
    max-height: 24px;
    vertical-align: middle;
}

/* WooCommerce */
.tap-thankyou-order-failed-reason{
	color: red;
	padding: 10px 15px;
	border: 1px solid red;
}

/* Tap Payments */
.tap-test-mode-title{
	color:red;
	font-size: 18px;
	margin: 20px 0 10px;
}
.tap-test-mode-table{
	margin-bottom: 0;
}
.tap-test-mode-table th,
.tap-test-mode-table td{
	padding: 3px;
	font-size: 12px;
}
.tap-test-mode-message{
	color: red;
	padding: 5px;
	margin-bottom: 30px;
}
.tap-test-mode-message a{
	color: red;
	text-decoration: underline;
}

#tap-card-notice > div{
	margin: 10px 0;
	padding: 10px 15px;
	border: 1px solid;
}
#tap-card-notice .tap-message{
	color: #0b7cac;
	border-color: #0b7cac;
}
#tap-card-notice .tap-error{
	color: #e2401c;
	border-color: #e2401c;
}
#tap-card-form-container{
	padding: 10px;
	margin: 10px 0;
	min-height: 150px;
	border: 1px solid #ddd;
	max-width: 400px;
}
